body {
    font-family: Arial, "Microsoft JhengHei", sans-serif;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    line-height: 1.6;
}
code {
    background-color: #f1f1f1;
    padding: 2px 4px;
    border-radius: 3px;
}
pre {
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
}

#markdown-container {
    border: 1px solid #ddd;
    padding: 10px;
    margin-top: 10px;
    border-radius: 4px;
}

#data-list {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
}
.lesson-item {
    border-bottom: 1px solid #ddd;
}

.lesson-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    background-color: #f8f9fa;
}


.lesson-header:hover {
    background-color: #e9ecef;
}

.lesson-details {
    padding: 10px;
    background-color: white;
}

.lesson-details button {
    margin-top: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
}

.lesson-details button:hover {
    background-color: #0056b3;
}